* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button {
    border: 0;
}

html {
    width: 100%;
    height: 100vh;
    background-color: #e7efc5;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}
