.container {
  .sets {
    display: flex;
    justify-content: space-around;

    > div {
      width: fit-content;

      > h4 {
        margin-left: 80px;
      }
    }
  }

  .omega {
    margin: 20px;
    text-align: center;
  }
}

