.container {
  display: flex;
  flex-direction: column;

  h3 {
    text-align: center;
  }

  .weights {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    input {
      margin: 0 20px 0 5px;
    }
  }
}