.header {
    background-color: #bfd7b5;

    h1 {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        height: 70px;
    }
}
