.container {
    margin: 0 auto;
    padding: 20px;
    height: 80px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #bfd7b5;
    border-radius: 20px;

    h2 {
        height: 30px;
    }

    input {
        text-align: center;
        height: 30px;
        width: 30px;
        border-radius: 8px;
    }

    button {
        background-color: white;
        height: 40px;
        width: 80px;
        border-radius: 20px;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: #b8efe9;
        }

        &:active {
            transition: linear;
            transform: scale(1.1);
        }
    }
}
