.container {
    margin: 0 auto;
    padding: 10px 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bfd7b5;
    border-radius: 20px;
    gap: 10px;

    .matrix {
        display: grid;
    }

    input {
        margin: auto;
    }

    .button_container {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 2px solid black;
    }

    button {
        padding: 10px;
        width: fit-content;
        height: 40px;
        border-radius: 8px;
        background-color: white;

        &:hover {
            background-color: #b8efe9;
        }

        &:active {
            transition: linear;
            transform: scale(1.1);
        }
    }

    .calc {
    }
}
